<!DOCTYPE html>
<html lang="en" style="background-color: lightgray;">
{% extends "chat_mon_game/base.html" %}
{% load static %}

<!-- TITLE -->
{% block title %}<title>Game</title>{% endblock %}

<!-- CSS -->
{% block css %}
<link rel="stylesheet" href="{% static "chat_mon_game\css\chat_game.css" %}">
<link rel="stylesheet" href="{% static "chat_mon_game\css\jquery.scrollbar.css" %}">
{% endblock css %}
<!-- CSS END -->

<!-- JavaScript -->
{% block js %}
<script src="{% static "chat_mon_game\js\chat_game.js" %}"></script>
<script src="{% static "chat_mon_game\js\jquery.scrollbar.js" %}"></script>
<script src="{% static "chat_mon_game\js\jquery.simple.timer.js" %}"></script>
{% endblock js %}
<!-- JavaScript END-->

{% block style1 %}
<style media="screen">
  .jumbotron.chat {
    height: 500px;
    position: relative;
    padding: 2rem 2rem;
  }
</style>
{% endblock style1 %}

{% block body-content %}
<!-- URLS used in JavaScript -->
<div>
  <div id="url_getChat" data-url = "{% url 'getChat' %}" ></div>
  <div id="url_submitTest" data-url = "{% url 'submitTest' %}" ></div>
  <div id="url_testSubmitted" data-url = "{% url 'Test_Submitted' %}" ></div>
  <div id="url_updateAnswer" data-url = "{% url 'updateAnswer' %}" ></div>
</div>
<div class="container my-2 chat">
  <div class="jumbotron chat">
    <div class="chat-container scrollbar-macosx w-75">
      <template id="chatBubble">
        <div class="bubble"></div>
      </template>
    </div>
  </div>
</div>

<!-- Help Modal -->
<div class="modal fade" id="testInstructionsModal" tabindex="-1" aria-labelledby="#testInstructionsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="#testInstructionsModalLabel">Test Instructions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="jumbotron">
          <h6 class="text-secondary" style="font-family: 'Courier New'">The timer <span style = "color:red; font-style: italic;">will not stop</span>
            running during this period. <strong>Do not REFRESH</strong> the page anytime during the exam period.
          </h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="index">1.</span>
              <span class="data">
                <strong>Log in</strong> with your <i>Name</i> and <i>Email address</i>
              </span>
            </li>
            <li class="list-group-item">
              <span class="index">2.</span>
              <span class="data">
                A <strong>timer will start soon after you log in</strong> to the system
              </span>
            </li>
            <li class="list-group-item">
              <span class="index">3.</span>
              <span class="data">
                On the test page, there will be a chat segment with messages populating every 3 seconds.
              </span>
            </li>
            <li class="list-group-item">
              <span class="index">4.</span>
              <span class="data">
                There will be normal messages and also messages with negative contents.
                Candidates are required to <strong>identify only negative messages</strong> from the chat and label their severity,
                meaning <strong>not all messages necessarily need labelling</strong>not all messages necessarily need labelling.
              </span>
            </li>
            <li class="list-group-item">
              <span class="index">5.</span>
              <span class="data">
                Clicking on any individual chat will display the message on the bottom pane where the candidates can mark their responses.
              </span>
            </li>
            <li class="list-group-item">
              <span class="index">6.</span>
              <span class="data">
                The negative messages are categorized into three, namely <span style="font-style: italic;">Offensive, Suspicious or Moderate</span>.
              </span>
            </li>
            <li class="list-group-item">
              <span class="index">7.</span>
              <span class="data">
                Selected message will be highlighted in<span style="background: #37ACFE; font-style: italic;"> blue </span>in the chat window.
              </span>
            </li>
            <li class="list-group-item">
              <span class="index">8.</span>
              <span class="data">
                Once you give a response, it will disappear from the bottom pane and will be highlighted in<span style="background: #B5DB8B; font-style: italic;"> green </span>in the chat window.
              </span>
            </li>
            <li class="list-group-item">
              <span class="index">9.</span>
              <span class="data">
                If you feel nothing wrong with the selected message, you can click on the <span style="font-style: italic;">No Action</span> option to clear your response.
              </span>
            </li>
            <li class="list-group-item">
              <span class="index">10.</span>
              <span class="data">
                You can go back and change your responses anytime during the test period. (Click the message ⮕ Change your response)
              </span>
            </li>
            <li class="list-group-item">
              <span class="index">11.</span>
              <span class="data">
                The test will submit automatically after the time period.
              </span>
            </li>
            <li class="list-group-item">
              <span class="index">12.</span>
              <span class="data">
                <strong>Do not REFRESH</strong> the page anytime during the exam period.
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="container my-2">
  <div class="jumbotron chat-info">
    <!-- <button id="submit" class="testBtn" type="button" name="button">Submit Test</button> -->
    <div class="row">
      <div class="col">
        <h5>Time Left ⏳ <span class="timer" data-seconds-left="{{time_left}}"></span></h5>
      </div>
      <div class="col ml-auto">
        <button class="help-btn btn btn-primary" data-toggle="modal" data-target="#testInstructionsModal">ⓘ Help</button>
        
      </div>
    </div>

    <!-- Chat deatils box TEMPLATE-->
    <template id="chatInfo">
      <div class="row container-row newPost">
        <div class="col">
          <!-- Head -->
          <div class="row justify-content-left head">
            <div class="content-img">
              <a href="#">
                <img src="{% static 'chat_mon_game/images/profile-image-1.jpg' %}" alt="" class="profileImg">
              </a>
            </div>
            <div class="col content-info">
              <p class="title">
                <span class="accountName">Hisaki</span> posted a new update
              </p>
              <p class="uploadTime">
                <span>5 hours ago</span>
                <img class="user-icon" src="{% static "chat_mon_game/images/user-icon-2.svg" %}" alt="user-icon">
              </p>
            </div>
          </div>
          <!-- Message -->
          <div class="row">
            <div class="col message">
              Hi Rohit I'm tantri 19th girl from indonesian I'm sorry I pressed the phone keyboard incorrectly so I accidentally leave our chat. I hope next time u will see this messege.
              And i hope we can meet again I wnt to say i love u too so much u are
            </div>
          </div>
          <!-- Line -->
          <div class="row">
            <div class="hline"></div>
          </div>
          <!-- Option Bar -->
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link btn offensive-btn">
                <img src="{% static "chat_mon_game/images/angry-words.svg" %}" alt="Offensive Icon">
                Offensive
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn suspicious-btn">
                <img src="{% static "chat_mon_game/images/suspicious.svg" %}" alt="Suspicious Icon">
                Suspicious
              </a>
            </li>
            <li class="nav-item">
              <a class="btn nav-link moderate-btn">
                <img src="{% static "chat_mon_game/images/moderate.png" %}" alt="Moderate Icon">
                Moderate
              </a>
            </li>
            <li class="nav-item ml-auto align-right">
              <a class="nav-link close-btn">
                <!-- <img src="{% static 'chat_mon_game/images/report.svg' %}" alt="Report Button"> -->
                <span class="close-icon">{% include "chat_mon_game/close-circle.svg" %}</span>
                No Action
              </a>
            </li>
          </ul>
        </div>
      </div>
    </template>
    <!-- Chat deatils box template END-->
  </div>
</div>
{% endblock body-content %}

</html>
