<!DOCTYPE html>
<html lang="en" style="background-color: lightgray;">
{% extends "chat_mon_game/base.html" %}
{% load static %}

<!-- TITLE -->
{% block title %}<title>Game</title>{% endblock %}

<!-- CSS -->
{% block css %}
<link rel="stylesheet" href="{% static "chat_mon_game\css\chat_game.css" %}">
<link rel="stylesheet" href="{% static "chat_mon_game\css\jquery.scrollbar.css" %}">
{% endblock css %}
<!-- CSS END -->

<!-- JavaScript -->
{% block js %}
<script src="{% static "chat_mon_game\js\chat_game.js" %}"></script>
<script src="{% static "chat_mon_game\js\jquery.scrollbar.js" %}"></script>
<script src="{% static "chat_mon_game\js\jquery.simple.timer.js" %}"></script>
{% endblock js %}
<!-- JavaScript END-->

{% block style1 %}
<style media="screen">
  .jumbotron.chat {
    height: 500px;
    position: relative;
  }
</style>
{% endblock style1 %}

{% block body-content %}
<div class="container my-2 chat">
  <div class="jumbotron chat">
    <div class="chat-container scrollbar-macosx w-75">
      <template id="chatBubble">
        <div class="bubble"></div>
      </template>
    </div>
  </div>
</div>
<div class="container my-2">
  <div class="jumbotron chat-info">
    <!-- <button id="submit" class="testBtn" type="button" name="button">Submit Test</button> -->
    <h5>Time Left ⏳ <span class="timer" data-minutes-left="0.5"></span></h5>
    <!-- Chat deatils box TEMPLATE-->
    <template id="chatInfo">
      <div class="row container-row newPost">
        <div class="col">
          <!-- Head -->
          <div class="row justify-content-left head">
            <div class="content-img">
              <a href="#">
                <img src="{% static 'chat_mon_game/images/profile-image-1.jpg' %}" alt="" class="profileImg">
              </a>
            </div>
            <div class="col content-info">
              <p class="title">
                <span class="accountName">Hisaki</span> posted a new update
              </p>
              <p class="uploadTime">
                <span>5 hours ago</span>
                <img class="user-icon" src="{% static "chat_mon_game/images/user-icon-2.svg" %}" alt="user-icon">
              </p>
            </div>
          </div>
          <!-- Message -->
          <div class="row">
            <div class="col message">
              Hi Rohit I'm tantri 19th girl from indonesian I'm sorry I pressed the phone keyboard incorrectly so I accidentally leave our chat. I hope next time u will see this messege.
              And i hope we can meet again I wnt to say i love u too so much u are
            </div>
          </div>
          <!-- Line -->
          <div class="row">
            <div class="hline"></div>
          </div>
          <!-- Option Bar -->
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link btn offensive-btn">
                <img src="{% static "chat_mon_game/images/angry-words.svg" %}" alt="Offensive Icon">
                Offensive
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn suspicious-btn">
                <img src="{% static "chat_mon_game/images/suspicious.svg" %}" alt="Suspicious Icon">
                Suspicious
              </a>
            </li>
            <li class="nav-item">
              <a class="btn nav-link moderate-btn">
                <img src="{% static "chat_mon_game/images/moderate.png" %}" alt="Moderate Icon">
                Moderate
              </a>
            </li>
            <li class="nav-item ml-auto align-right">
              <a class="nav-link close-btn">
                <!-- <img src="{% static 'chat_mon_game/images/report.svg' %}" alt="Report Button"> -->
                <span class="close-icon">{% include "chat_mon_game/close-circle.svg" %}</span>
                No Action
              </a>
            </li>
          </ul>
        </div>
      </div>
    </template>
    <!-- Chat deatils box template END-->
  </div>
</div>
{% endblock body-content %}

</html>
