<!DOCTYPE html>
{% extends "chat_mon_game/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}<title>Take CS Moderation Test</title>{% endblock title %}

<!-- CSS -->
{% block css %}
{% endblock css %}
<!-- CSS END -->

<!-- JavaScript -->
{% block js %}
{% endblock js %}
<!-- JavaScript END-->

{% block style1 %}
<style>
/* .test-info * {
  background-color: rgba(0, 0, 0, 0.1);
} */

.test-info .list-group-flush>.list-group-item {
    border-width: 0 0 1.7px;
    border-color: rgba(0,0,0,.125);
}

.test-info .list-group-item .index {
  margin-right: 7px;
}

.test-info .list-group-item {
  display: flex;
  justify-content: flex-start;
  background-color: rgba(0,0,0,0);
}

.test-info .list-group-item .data {

}

.test-info h2 {
  color: #9900cc;
}
</style>
{% endblock %}

{% block body-content %}

<!-- Upload Instruction -->
  <div class="container my-2 test-info">
    <div class="jumbotron">
      <h2>Test Instructions</h2>
      <h6 class="text-secondary" style="font-family: 'Courier New'">Read the below instructions carefully before the test.
        You can access this information anytime during the test by clicking on the Help button (The timer <span style = "color:red; font-style: italic;">will not stop</span>
        running during this period). <strong>Do not REFRESH</strong> the page anytime during the exam period.
      </h6>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <span class="index">1.</span>
          <span class="data">
            <strong>Log in</strong> with your <i>Name</i> and <i>Email address</i>
          </span>
        </li>
        <li class="list-group-item">
          <span class="index">2.</span>
          <span class="data">
            A <strong>timer will start soon after you log in</strong> to the system
          </span>
        </li>
        <li class="list-group-item">
          <span class="index">3.</span>
          <span class="data">
            On the test page, there will be a chat segment with messages populating every 3 seconds.
          </span>
        </li>
        <li class="list-group-item">
          <span class="index">4.</span>
          <span class="data">
            There will be normal messages and also messages with negative contents.
            Candidates are required to <strong>identify only negative messages</strong> from the chat and label their severity,
            meaning <strong>not all messages necessarily need labelling</strong>not all messages necessarily need labelling.
          </span>
        </li>
        <li class="list-group-item">
          <span class="index">5.</span>
          <span class="data">
            Clicking on any individual chat will display the message on the bottom pane where the candidates can mark their responses.
          </span>
        </li>
        <li class="list-group-item">
          <span class="index">6.</span>
          <span class="data">
            The negative messages are categorized into three, namely <span style="font-style: italic;">Offensive, Suspicious or Moderate</span>.
          </span>
        </li>
        <li class="list-group-item">
          <span class="index">7.</span>
          <span class="data">
            Selected message will be highlighted in<span style="background: #37ACFE; font-style: italic;"> blue </span>in the chat window.
          </span>
        </li>
        <li class="list-group-item">
          <span class="index">8.</span>
          <span class="data">
            Once you give a response, it will disappear from the bottom pane and will be highlighted in<span style="background: #B5DB8B; font-style: italic;"> green </span>in the chat window.
          </span>
        </li>
        <li class="list-group-item">
          <span class="index">9.</span>
          <span class="data">
            If you feel nothing wrong with the selected message, you can click on the <span style="font-style: italic;">No Action</span> option to clear your response.
          </span>
        </li>
        <li class="list-group-item">
          <span class="index">10.</span>
          <span class="data">
            You can go back and change your responses anytime during the test period. (Click the message ⮕ Change your response)
          </span>
        </li>
        <li class="list-group-item">
          <span class="index">11.</span>
          <span class="data">
            The test will submit automatically after the time period.
          </span>
        </li>
        <li class="list-group-item">
          <span class="index">12.</span>
          <span class="data">
            <strong>Do not REFRESH</strong> the page anytime during the exam period.
          </span>
        </li>
      </ul>
    </div>
  </div>
<!-- Upload Instruction END -->

<div class="container my-5 thankyou p-2 p-sm-4">
  <div class="thankyou jumbotron mx-lg-5 mx-3">
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group col-md-11 col-lg-8 p-0">

        {{ field.label_tag }}
        {{ field|add_class:"form-control" }}
        {{ field.errors }}

      </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary" name="submit">Take Test</button>
    </form>

  </div>
</div>

{% endblock body-content %}

{% block script-content %}
<script type="text/javascript">
</script>
{% endblock script-content %}
