<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <span class="index">1.</span>
    <span class="data">
      <strong>Log in</strong> with your <i>Name</i> and <i>Email address</i>
    </span>
  </li>
  <li class="list-group-item">
    <span class="index">2.</span>
    <span class="data">
      A <strong>timer will start soon after you log in</strong> to the system
    </span>
  </li>
  <li class="list-group-item">
    <span class="index">3.</span>
    <span class="data">
      On the test page, there will be a chat segment with messages populating every 3 seconds.
    </span>
  </li>
  <li class="list-group-item">
    <span class="index">4.</span>
    <span class="data">
      There will be normal messages and also messages with negative contents.
      Candidates are required to <strong>identify only negative messages</strong> from the chat and label their severity,
      meaning <strong>not all messages necessarily need labelling</strong>.
    </span>
  </li>
  <li class="list-group-item">
    <span class="index">5.</span>
    <span class="data">
      Clicking on any individual chat will display the message on the bottom pane where the candidates can mark their responses.
    </span>
  </li>
  <li class="list-group-item">
    <span class="index">6.</span>
    <span class="data">
      The negative messages are categorized into three, namely <span style="font-style: italic;">Offensive, Suspicious or Moderate</span>.
    </span>
  </li>
  <li class="list-group-item">
    <span class="index">7.</span>
    <span class="data">
      Selected message will be highlighted in<span style="background: #37ACFE; font-style: italic;"> blue </span>in the chat window.
    </span>
  </li>
  <li class="list-group-item">
    <span class="index">8.</span>
    <span class="data">
      Once you give a response, it will disappear from the bottom pane and will be highlighted in<span style="background: #B5DB8B; font-style: italic;"> green </span>in the chat window.
    </span>
  </li>
  <li class="list-group-item">
    <span class="index">9.</span>
    <span class="data">
      If you feel nothing wrong with the selected message, you can click on the <span style="font-style: italic;">No Action</span> option to clear your response.
    </span>
  </li>
  <li class="list-group-item">
    <span class="index">10.</span>
    <span class="data">
      You can go back and change your responses anytime during the test period. (Click the message ⮕ Change your response)
    </span>
  </li>
  <li class="list-group-item">
    <span class="index">11.</span>
    <span class="data">
      The test will submit automatically after the time period.
    </span>
  </li>
  <li class="list-group-item">
    <span class="index">12.</span>
    <span class="data">
      <strong>Do not REFRESH</strong> the page anytime during the exam period.
    </span>
  </li>
</ul>
