.chat-container {
  position: absolute;
  padding: 20px;
  right: 0;
  top: 15%;
  /* width: 90%; */
  height: 372px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  overflow-y: auto;
}

.chat-container .bubble {
  background: #79C7C5;
  float: right;
}

.bubble {
  /* position: relative; */
  display: inline-block;
  align-self: flex-end;
  width: auto;
  margin-bottom: 5px;
  color: #F9FBFF;
  font-size: 0.9em;
  padding: 10px 10px 10px 12px;
  border-radius: 20px;
}

/* Scroll Bar */
/*
 *  STYLE 7
 */
.chat-container::-webkit-scrollbar-track {
  /* background-color: #fcfcfc; */
  border-radius: 5px;
}

.chat-container::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0);
  /* display: none; */
  z-index: 10000;
}

.chat-container::-webkit-scrollbar:hover {
  background-color: rgb(245, 245, 245);
}

.chat-container::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

 .chat-container::-webkit-scrollbar-thumb:hover {
  background-image: -webkit-gradient(linear,
      left bottom,
      left top,
      color-stop(0.44, rgb(122, 153, 217)),
      color-stop(0.72, rgb(73, 125, 189)),
      color-stop(0.86, rgb(28, 58, 148)));
}
