.dropzone .jumbotron {
  background-color: rgba(254, 245, 239, 0.7);
}

.school-form .jumbotron {
  background-color: rgba(216, 250, 255, 0.7);
}

.enquiry-form .jumbotron {
  background-color: rgba(254, 222, 245, 0.7);
}

.upload-info * {
  background-color: rgba(0, 0, 0, 0);
}

.upload-info .list-group-flush>.list-group-item {
    border-width: 0 0 1.7px;
    border-color: rgba(0,0,0,.125);
}

.upload-info .list-group-item .index {
  margin-right: 7px;
}

.upload-info .list-group-item {
  display: flex;
  justify-content: flex-start;
}

.upload-info .list-group-item .data {

}

.upload-info h2 {
  color: #9900cc;
}

/* School registration page */
button.btn-clone svg {
  width: 20px;
  height: auto;
  display: none;
}

button.btn-clone:hover svg {
  width: 22px;
  transform: rotate(180deg);
  transition: all 0.1s linear;
  transition: transform 0.7s ease-out;
}

button.btn-clone {
  background: none;
  outline: none;
  padding: 0px;
  /* border: 1px solid red; */
  border: none;
  margin-top: 8px;
}

.add-form-btn .plus svg {
  color: #80cd32;
  display: block;
}

.add-form-btn:hover .plus svg {
  color: #66cd32;
  width: 22px;
}

.remove-form-btn .minus svg {
  color: #ff4d2e;
  display: block;
}

.remove-form-btn:hover .minus svg {
  color: #F32013;
}

.input-group-prepend .input-group-text {
  padding: 5px 6px 1px 6px;
  font-size: 20px;
}
