<!DOCTYPE html>

{% extends "registration/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}<title>School - Register</title>{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static "registration/css/reg_page.css" %}">
{% endblock css %}

<!-- JavaScript -->
{% block js %}
<script type="text/javascript" src="{% static "registration/js/school_reg_page.js" %}"></script>
{% endblock js %}

{% block style1 %}
<style media="screen">
  .head.jumbotron {
    background-color: rgba(177, 233, 255, 0.7);
  }
</style>
{% endblock style1 %}

{% block jumbotron_body %}
<h1>School Details</h1>
{% endblock jumbotron_body %}

{% block body-content %}
<!-- FORM STARTING -->
<form class="school-form" method="post">

  {% csrf_token %}

  <div class="container my-2">
    <div class="jumbotron">

      {% for field in form %}
      <div class="form-group col-md-11 col-lg-8 p-0">

        {{ field.label_tag }}
        {{ field|add_class:"form-control" }}
        {{ field.errors }}

      </div>
      {% endfor %}

      <!-- <div class="formset">
        {{ formset.as_p }}
      </div> -->

      <!-- Formset Management Form -->
      <div class="formset-management">{{ formset.management_form }}</div>

      {% for form in formset %}
      <div class="form-row">
        <div class="col-md-2">
          <label class="sr-only" for="{{ form.class_no.id_for_label }}">Class</label>
          {{ form.class_no | add_class:"form-control" | attr:"placeholder:Class" }}
        </div>
        <div class="col-md-2">
          <label class="sr-only" for="{{ form.section.id_for_label }}">Section</label>
          {{ form.section | add_class:"form-control" | attr:"placeholder:Section" }}
        </div>
        <div class="col-md-4">
          <label class="sr-only" for="{{ form.teacher_email.id_for_label }}">Teacher Email</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">📧</div>
            </div>
            {{ form.teacher_email | add_class:"form-control" | attr:"placeholder:Teacher Email" }}
          </div>
        </div>
        <div class="col-md-3">
          <label class="sr-only" for="{{ form.contact_number.id_for_label }}">Contact Number</label>
          {{ form.contact_number | add_class:"form-control" | attr:"placeholder:Contact Number" }}
        </div>
        <div class="col-md-1">
          <button class="btn-clone add-form-btn" name="add/remove">
            <span class="plus">{% include 'registration/svg/plus-circle.svg' %}</span>
            <span class="minus">{% include 'registration/svg/minus-circle.svg' %}</span>
          </button>
        </div>
        <div class="d-none">
          {% if formset.can_delete %}
          {{ form.DELETE }}
          {% endif %}
          {% for hidden in form.hidden_fields %}
          {{ hidden }}
          {% endfor %}
        </div>
      </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary" name="submit">Submit</button>

    </div>
  </div>
</form>
<!-- FORM ENDING -->
{% endblock body-content %}

<!-- JavaScript -->
{% block script-content %}
<script type="text/javascript">
  $(document).ready(function() {
    //jquery add active page to nav-bar
    $(".navbar-nav .nav-item.school-reg-page").addClass("active");

  });
</script>
{% endblock script-content %}
